---
pagination:
    data: jobs
    size: 1
    alias: job
    resolve: values
permalink: "jobs/{{ job.title | slug }}/"
---
{% from "summary-list/macro.njk" import summaryList %}
{%- macro ul(items) %}
  <ul>
    {% for item in items %}
      <li>
        {{ item | trim }}
      </li>
    {% endfor %}
  </ul>
{% endmacro -%}

<h1>{{ job.title }}</h1>

{{ summaryList({
  rows: [
    {
      key: {
        text: "Service area"
      },
      value: {
        text: job.service_area
      }
    },
    {
      key: {
        text: "AfC Band"
      },
      value: {
        text: job.band
      }
    },
    {
      key: {
        text: "Locations"
      },
      value: {
        html: ( ul(job.locations) )
      }
    }
  ]
}) 
}}

<p>{{ job.purpose }}</p>

<h2>Skills</h2>

